@charset "UTF-8";

/* Versão todas as demais midias */


@media print{
    body{
        background-image: url(../img/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}

} /* Impressão */


@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: url(../img/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}

}  /* Tablet */

@media screen and (min-width: 992px) and (max-width: 1200px){
    
    body{
        background-image: url(../img/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}

} /* Desktop */

@media screen and (min-width: 1200px) { 
    
    body{
        background-image: url(../img/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    
} /* Grandes telas */