@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';


}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    border-bottom: 10px;
}

header{
    background-color: #1a5c37;
    min-height: 150px;
    text-align: center;
    padding-bottom: 40px;
}

header > h1{
    color: white;
    margin-bottom: 20px;
}

header > p {
    color: white;
}

nav{
    background-color: #063d1e;
}

main{

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

main > h1{
    color: #1a5c37;
}

main > img{
    width: 100%;
}

.vv{
    margin: auto;
    display: block;
}

footer{
    background-color: #063d1e;
    color: white;
}