
body{
    background-color: rgb(231, 153, 153);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background-color: black;
}
h1{
    text-decoration: underline;
}
#voltar{
    text-decoration: none;
}