@charset "UTF-8";

*{

    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-image: linear-gradient(to right, #F1D8C9, #F2C3AF);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
p{
    text-align: justify;
} 

h1{
    text-align: center;
    color: #f39209;
    text-shadow: 1px 1px 2p rgb(129, 77, 5, 0.726);
}
h2{
    color: #125189;
}